<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <title>TPE-creator.fr</title>
                <meta name="keywords" content="TPE" />
                <meta name="description" content="Créez un site web pour votre TPE simplement" />
<!--                <link href="view/style/basis.css" rel="stylesheet" type="text/css" media="all" /> -->
                <link href="view/style/page.css" rel="stylesheet" type="text/css" media="all" />
                <link href="view/style/text.css" rel="stylesheet" type="text/css" media="all" />
                <link href="view/style/figures.css" rel="stylesheet" type="text/css" media="all" />
        </head>

        <body>
                <header>
                        <h1><a href="index.php" title="Retournez à l'accueil">My TPE</a></h1>
                        <h1><a href="index.php" title="Retournez à l'accueil">créez un site web facilement pour votre tpe</a></h1>
                </header>
